ul {
	line-height: 20px;
}

ol {
	line-height: 20px;
}

p {
	line-height: 20px;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

/* Menu */
#menu a {
	display: block;
	float: center;
	width: 200px;
	height: 24px;
	padding: 4px 0 0 2px;
	background: #A8835A;
	text-decoration: none;
/*	text-align: center; */
	font-size: 14px;
	/* font-style:italic; */
	font-family: "arial black" ;
	color: #FFFFFF;
	border:1px solid  #77542A;
}

#menu .active a {
	background:#61380B ;
	border:2px solid  #786E50;
}

#menu a:hover {
	background: #61380B ;
	border:2px solid  #786E50;
}


