@charset "utf-8";
/* CSS Document */

.container {
	background-image: url("../img/plate2.jpg");
	width: 98%;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;

}

.row {
	width: 98%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}

.columns {
	width: 12.5%;
	float: left;
	line-height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}


.shelf {
    border-bottom: 20px solid #A36601;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    top: -5px;
    z-index: -1;
    height: 2px;
	margin-top: 0px;
}
.rectangle {
  height: 15px;
  width: 100%;
  background-image: url("../img/plate.jpg");
}

h1{
  	padding: 0px;
  	margin-bottom: 8px;
  	margin-top: 5px;
  	font-family:  "Old English Text MT";
  	font-size: 36px;
  	font-weight: bold;
	color: blue;
}


@media (min-width: 920px) {
}
.thumbnail {
	width: 150px;
	border-radius: 200px;
	height: 190px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}


