.mstheme {
	list-image-1: url(blubul1d.gif);
	list-image-2: url(blubul2d.gif);
	list-image-3: url(blubul3d.gif);
	nav-banner-image: url(blubannd.gif);
	navbutton-home-normal: url(bluhombd.gif);
	navbutton-horiz-normal: url(bluhbudd.gif);
	navbutton-horiz-pushed: url(bluhbusd.gif);
	navbutton-next-normal: url(blunexbd.gif);
	navbutton-prev-normal: url(bluprebd.gif);
	navbutton-up-normal: url(bluupbd.gif);
	navbutton-vert-normal: url(bluvbudd.gif);
	navbutton-vert-pushed: url(bluvbusd.gif);
	separator-image: url(bluhorsd.gif);
}
.mstheme-bannertxt {
	color: #003399;
	font-family: "Century Gothic",Arial,Helvetica;
	font-size: 5;
}
.mstheme-horiz-navtxt {
	color: #003399;
	font-family: "century gothic",arial,helvetica;
	font-size: 2;
}
.mstheme-navtxthome {
	color: #003399;
	font-family: "century gothic",arial,helvetica;
	font-size: 1;
}
.mstheme-navtxtnext {
	color: #003399;
	font-family: "century gothic",arial,helvetica;
	font-size: 1;
}
.mstheme-navtxtprev {
	color: #003399;
	font-family: "century gothic",arial,helvetica;
	font-size: 1;
}
.mstheme-navtxtup {
	color: #003399;
	font-family: "century gothic",arial,helvetica;
	font-size: 1;
}
.mstheme-vert-navtxt {
	color: #003399;
	font-family: "century gothic",arial,helvetica;
	font-size: 2;
}
ul {
	list-style-image: url(blubul1d.gif);
}
ul ul {
	list-style-image: url(blubul2d.gif);
}
ul ul ul {
	list-style-image: url(blubul3d.gif);
}
