vti_encoding:SR|utf8-nl
vti_author:SR|Fredo-PC\\Fredo
vti_modifiedby:SR|Fredo-PC\\Fredo
vti_timelastmodified:TR|12 May 2007 13:31:14 -0000
vti_timecreated:TR|21 Mar 2007 01:13:43 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|_themes/blueprnt/theme.css
vti_nexttolasttimemodified:TR|21 Mar 2007 01:13:43 -0000
vti_cacheddtm:TX|12 May 2007 13:31:14 -0000
vti_filesize:IR|32621
vti_cachedlinkinfo:VX|S|blank.gif S|bluglob.gif S|dot.gif S|toolgrad.gif S|blutextb.gif S|blubul2d.gif S|theme.css S|toolgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blueprnt/blank.gif FSUS|_themes/blueprnt/bluglob.gif FSUS|_themes/blueprnt/dot.gif FSUS|_themes/blueprnt/toolgrad.gif FSUS|_themes/blueprnt/blutextb.gif FSUS|_themes/blueprnt/blubul2d.gif FSUS|_themes/blueprnt/theme.css FSUS|_themes/blueprnt/toolgrad.gif
